{% extends "admin/base.html" %}

{% block title %}
Book
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/admin/input-tag.css')}}">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div style="padding-left: 2%; padding-right: 2%; margin-top: 10px;">
    <div class="row">
        <div class=" col-md-3">
            <h3 style=" padding-left: 1%;">Book</h3>
        </div>
        <div class="col-md-9">
            <div class="row">
                <form class="input-group" id="form-search">
                    <input type="text" class="form-control input-group-append" placeholder="Search" name="search"
                        id="search">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-3">
            <button type="button" class="btn btn-success" data-toggle="modal" id='add'
                data-target=".bd-example-modal-lg">Add book</button>
        </div>
        <div class="col-md-9">
            <nav id="pagination" style="float: right; cursor: pointer;">
            </nav>
        </div>
    </div>
</div>
<div class="row" style="margin: 2px;">
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <td><b>Id</b></td>
                <td><b>Category</b></td>
                <td><b>Title</b></td>
                <td><b>Writer</b></td>
                <td><b>Slug</b></td>
                <td><b>Image</b></td>
                <td><b>Info</b></td>
                <td><b>Price</b></td>
                <td><b>Publisher</b></td>
                <td><b>Publish_date</b></td>
                <td><b>Page</b></td>
                <td><b>Number</b></td>
                <td><b>Created</b></td>
                <td><b>Modified</b></td>
                <td><b>Action</b></td>
            </tr>
        </thead>
        <tbody id="data">
        </tbody>
    </table>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card card-body">
                <form id="form-save" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="form-control-label" for="category-name">Category</label>
                        <select class="form-control" id="category-name" name="category-name" style="width: 100%;">
                        </select>
                    </div>
                    <div class="form-group  required">
                        <label class="form-control-label" for="title">Title</label>
                        <input class="form-control" id="title" name="title" required="" type="text" value="">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="writer-name">Writer</label>
                        <select class="form-control" id="writer-name" style="width: 100%;" multiple="multiple">
                        </select>
                        <input type="hidden" id="writers" name="writers" value="d">
                    </div>

                    <div class="form-group  required">
                        <label class="form-control-label" for="image">Image</label>
                        <input class="form-control-file" id="image" name="image" required="" type="file"
                            accept="image/*">
                    </div>
                    <div class="form-group  required">
                        <label class="form-control-label" for="info">Info</label>
                        <textarea class="form-control" name="info" id="info" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group  required">
                        <label class="form-control-label" for="price">Price</label>
                        <input class="form-control" type="number" required id="price" name="price" step="0.01" />
                    </div>
                    <div class="form-group  required">
                        <label class="form-control-label" for="publisher">Publisher</label>
                        <input class="form-control" id="publisher" name="publisher" required="" type="text" value="">
                    </div>
                    <div class="form-group  required">
                        <label class="form-control-label" for="publish_date">Publish date</label>
                        <input class="form-control" id="publish_date" name="publish_date" required="" type="date"
                            value="">
                    </div>
                    <div class="form-group  required">
                        <label class="form-control-label" for="pages">Pages</label>
                        <input class="form-control" id="pages" name="pages" required="" type="number" value=""
                            pattern="/^-?\d+\.?\d*$/" onkeydown="javascript: return event.keyCode === 8 ||
                event.keyCode === 46 ? true : !isNaN(Number(event.key))">
                    </div>
                    <div class="form-group  required">
                        <label class="form-control-label" for="number">Amount</label>
                        <input class="form-control" id="number" name="number" required="" type="number" value=""
                            pattern="/^-?\d+\.?\d*$/" onkeydown="javascript: return event.keyCode === 8 ||
                event.keyCode === 46 ? true : !isNaN(Number(event.key))">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card card-body">
                <form id="form-edit" enctype="multipart/form-data">
                    <input type="hidden" value="" name="id-edit" id="id-edit">
                    <div class="form-group">
                        <label class="form-control-label" for="category-name-edit">Category</label>
                        <select class="form-control" id="category-name-edit" name="category-name-edit"
                            style="width: 100%;">
                        </select>
                    </div>
                    <div class="form-group  required">
                        <label class="form-control-label" for="title-edit">Title</label>
                        <input class="form-control" id="title-edit" required="" type="text" disabled>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="writer-name-edit">Writer</label>
                        <select class="form-control" id="writer-name-edit" style="width: 100%;" multiple="multiple">
                        </select>
                        <input type="hidden" id="writers-edit" name="writers-edit" value="d">
                    </div>
                    <div class="form-group  required">
                        <label class="form-control-label" for="info-edit">Info</label>
                        <textarea class="form-control" name="info-edit" id="info-edit" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group required">
                        <label class="form-control-label" for="price-edit">Price</label>
                        <input class="form-control" type="number" required id="price-edit" name="price-edit" step="0.01" />
                    </div>
                    <div class="form-group  required">
                        <label class="form-control-label" for="publisher-edit">Publisher</label>
                        <input class="form-control" id="publisher-edit" name="publisher-edit" required="" type="text"
                            value="">
                    </div>
                    <div class="form-group  required">
                        <label class="form-control-label" for="publish_date-edit">Publish date</label>
                        <input class="form-control" id="publish_date-edit" name="publish_date-edit" required=""
                            type="date" value="">
                    </div>
                    <div class="form-group  required">
                        <label class="form-control-label" for="pages-edit">Pages</label>
                        <input class="form-control" id="pages-edit" name="pages-edit" required="" type="number" value=""
                            pattern="/^-?\d+\.?\d*$/" onkeydown="javascript: return event.keyCode === 8 ||
                event.keyCode === 46 ? true : !isNaN(Number(event.key))">
                    </div>
                    <div class="form-group  required">
                        <label class="form-control-label" for="number-edit">Amount</label>
                        <input class="form-control" id="number-edit" name="number-edit" required="" type="number"
                            value="" pattern="/^-?\d+\.?\d*$/" onkeydown="javascript: return event.keyCode === 8 ||
                event.keyCode === 46 ? true : !isNaN(Number(event.key))">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card card-body">
                <form id="form-edit-image" enctype="multipart/form-data">
                    <input type="hidden" value="" name="id-image" id="id-image">
                    <div class="form-group  required">
                        <label class="form-control-label" for="image-edit">Image</label>
                        <input class="form-control-file" id="image-edit" name="image-edit" required="" type="file"
                            accept="image/*">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{{url_for('.static', filename='js/admin/pagination.js')}}"></script>
<script src="{{url_for('.static', filename='js/getCookie.js')}}"></script>
<script src="{{url_for('.static', filename='js/admin/book.js')}}"></script>
{% endblock %}