{% extends "admin/base.html" %}

{% block title %}
Book
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/admin/input-tag.css')}}">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div style="padding-left: 2%; padding-right: 2%; margin-top: 10px;">
    <div class="row">
        <div class=" col-md-3">
            <h3 style=" padding-left: 1%;">Book</h3>
        </div>
        <div class="col-md-9">
            <div class="row">
                <form class="input-group" id="form-search">
                    <input type="text" class="form-control input-group-append" placeholder="Search" name="search"
                        id="search">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-3">
            <button type="button" class="btn btn-success" data-toggle="modal" id='add'
                data-target=".bd-example-modal-lg">Add book</button>
        </div>
        <div class="col-md-9">
            <nav id="pagination" style="float: right; cursor: pointer;">
            </nav>
        </div>
    </div>
</div>
<div class="row" style="margin: 2px;">
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <td><b>Id</b></td>
                <td><b>Category</b></td>
                <td><b>Title</b></td>
                <td><b>Writer</b></td>
                <td><b>Slug</b></td>
                <td><b>Image</b></td>
                <td><b>Info</b></td>
                <td><b>Price</b></td>
                <td><b>Publisher</b></td>
                <td><b>Publish_date</b></td>
                <td><b>Page</b></td>
                <td><b>Number</b></td>
                <td><b>Created</b></td>
                <td><b>Modified</b></td>
                <td><b>Action</b></td>
            </tr>
        </thead>
        <tbody id="data">
        </tbody>
    </table>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card card-body">
                <form id="form-save" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="form-control-label" for="category-name">Category</label>
                        <select class="form-control" id="category-name" name="category-name" style="width: 100%;">
                        </select>
                    </div>
                    <div class="form-group  required">
                        <label class="form-control-label" for="title">Title</label>
                        <input class="form-control" id="title" name="title" required="" type="text" value="">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="writer-name">Writer</label>
                        <select class="form-control" id="writer-name" style="width: 100%;" multiple="multiple">
                        </select>
                        <input type="hidden" id="writers" name="writers" value="d">
                    </div>

                    <div class="form-group  required">
                        <label class="form-control-label" for="image">Image</label>
                        <input class="form-control-file" id="image" name="image" required="" type="file"
                            accept="image/*">
                    </div>
                    <div class="form-group  required">
                        <label class="form-control-label" for="info">Info</label>
                        <textarea class="form-control" name="info" id="info" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group ">
                        <label class="form-control-label" for="price">Price</label>
                        <input class="form-control" id="price" name="price" type="number" value=""
                            pattern="/^-?\d+\.?\d*$/" onkeydown="javascript: return event.keyCode === 8 ||
                    event.keyCode === 46 ? true : !isNaN(Number(event.key))">
                    </div>
                    <div class="form-group  required">
                        <label class="form-control-label" for="publisher">Publisher</label>
                        <input class="form-control" id="publisher" name="publisher" required="" type="text" value="">
                    </div>
                    <div class="form-group  required">
                        <label class="form-control-label" for="publish_date">Publish date</label>
                        <input class="form-control" id="publish_date" name="publish_date" required="" type="date"
                            value="">
                    </div>
                    <div class="form-group  required">
                        <label class="form-control-label" for="pages">Pages</label>
                        <input class="form-control" id="pages" name="pages" required="" type="number" value=""
                            pattern="/^-?\d+\.?\d*$/" onkeydown="javascript: return event.keyCode === 8 ||
                event.keyCode === 46 ? true : !isNaN(Number(event.key))">
                    </div>
                    <div class="form-group  required">
                        <label class="form-control-label" for="number">Amount</label>
                        <input class="form-control" id="number" name="number" required="" type="number" value=""
                            pattern="/^-?\d+\.?\d*$/" onkeydown="javascript: return event.keyCode === 8 ||
                event.keyCode === 46 ? true : !isNaN(Number(event.key))">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{{url_for('.static', filename='js/admin/pagination.js')}}"></script>
<script src="{{url_for('.static', filename='js/getCookie.js')}}"></script>
<!-- <script src="{{url_for('.static', filename='js/admin/book.js')}}"></script> -->
<script>
    $(document).ready(function () {
        $('#book').addClass('active');
        $.ajax({
            url: '/book/get-all-book',
            dataType: 'json',
            method: 'POST',
            data: {
                'page_num': 1,
                'order_by': 'asc'
            },
            success: function (aData) {
                loadData(aData);
            },
            error: function () {
                alert('error');
            },
            beforeSend: function () {
                $('#loading').css('display', 'block');
            },
            complete: function () {
                $('#loading').css('display', 'none');
            }
        });
    });

    $('#writer-name').select2();

    $('#add').click(function () {
        $.ajax({
            url: '/book/get-data-form',
            dataType: 'json',
            method: 'POST',
            headers: {
                "Authorization": "Bearer " + getCookie('token'),
            },
            success: function (aData) {
                sCategory = ``;
                for (i in aData.category) {
                    sCategory += `<option value="` + aData.category[i].slug + `">` + aData.category[i].name + `</option>`;
                }
                $('#category-name').html(sCategory);

                sWriter = ``;
                for (i in aData.writer) {
                    sWriter += `<option value="` + aData.writer[i].slug + `">` + aData.writer[i].name + `</option>`;
                }
                $('#writer-name').html(sWriter);
            },
            error: function () {
                alert('error');
            },
            beforeSend: function () {
                $('#loading').css('display', 'block');
            },
            complete: function () {
                $('#loading').css('display', 'none');
            }
        });
    });

    $('#form-save').submit(function (e) {
        e.preventDefault(); // avoid to execute the actual submit of the form.
        $('#writers').val($('#writer-name').val());
        var form = new FormData();
        form.append("writers", $('#writers').val());
        form.append("category-name", $('#category-name').val());
        form.append("title", $('#title').val());
        form.append("info", $('#info').val());
        form.append("price", $('#price').val());
        form.append("publisher", $('#publisher').val());
        form.append("publish_date", $('#publish_date').val());
        form.append("pages", $('#pages').val());
        form.append("number", $('#number').val());
        form.append("image", $('#image')[0].files[0]);

        $.ajax({
            url: '/book/add-book',
            method: 'POST',
            data: form,
            dataType: 'json',
            processData: false,
            contentType: false,
            headers: {
                "Authorization": "Bearer " + getCookie('token'),
            },
            success: function (aData) {
                alert(aData.message);
                location.reload();
            },
            error: function () {
                location.reload();
                alert('This category already exists!');
            },
            beforeSend: function () {
                $('#loading').css('display', 'block');
            },
            complete: function () {
                $('#loading').css('display', 'none');
            }
        });
    });

    function loadData(aData) {
        var sHtml = ``;
        for (i in aData.items) {
            var sWriter = '';
            if (aData.items[i].writer.length > 1) {
                for (j in aData.items[i].writer) {
                    if (j == aData.items[i].writer.length - 1)
                        sWriter += aData.items[i].writer[j].name;
                    else
                        sWriter += aData.items[i].writer[j].name + ', ';
                }
            } else {
                sWriter = aData.items[i].writer[0].name;
            }
            sHtml += `
        <tr>
            <td>`+ aData.items[i].id + `</td>
            <td>`+ aData.items[i].category + `</td>
            <td>`+ aData.items[i].title + `</td>
            <td>`+ sWriter + `</td>
            <td>`+ aData.items[i].slug + `</td>
            <td><img src="../static/images/books/`+ aData.items[i].image + `" alt="" style="width: 100px; height: 150px;"></td>
            <td>`+ aData.items[i].info + `</td>
            <td>`+ aData.items[i].price + `</td>
            <td>`+ aData.items[i].publisher + `</td>
            <td>`+ aData.items[i].publish_date + `</td>
            <td>`+ aData.items[i].pages + `</td>
            <td>`+ aData.items[i].number + `</td>
            <td>`+ aData.items[i].created + `</td>
            <td>`+ aData.items[i].modified + `</td>
            <td>
                <div class="row" style="margin: auto">
                    <i class="fa fa-trash btn btn-danger btn-delete" style="margin-bottom: 1%" aria-hidden="true" onclick="deleteWriter('`+ aData.items[i].id + `')"></i>
                </div>
            </td>
        </tr>
        `;
        }
        $('#data').html(sHtml);
        pagination(aData.current_page, aData.pages, aData.next_num, aData.prev_num);
    }

    function change(page) {
        $('#pagination').html('');
        $.ajax({
            url: '/book/get-all-book',
            dataType: 'json',
            method: 'POST',
            data: {
                'page_num': page,
                'order_by': 'asc'
            },
            success: function (aData) {
                loadData(aData);
            },
            error: function () {
                alert('error');
            },
            beforeSend: function () {
                $('#loading').css('display', 'block');
            },
            complete: function () {
                $('#loading').css('display', 'none');
            }
        });
    }

    function deleteWriter(id) {
        var r = confirm("Are you sure you want to delete it?");
        if (r == true) {
            $.ajax({
                url: '/book/delete',
                method: 'DELETE',
                dataType: 'json',
                headers: {
                    "Authorization": "Bearer " + getCookie('token'),
                },
                data: {
                    'id': id
                },
                success: function (aData) {
                    alert(aData.message);
                    location.reload();
                },
                error: function () {
                    alert('error');
                },
                beforeSend: function () {
                    $('#loading').css('display', 'block');
                },
                complete: function () {
                    $('#loading').css('display', 'none');
                }
            });
        }
    }

    $('#form-search').validate({
        showErrors: function (errorMap, errorList) {
            // Do nothing here
        },
        rules: {
            "search": {
                required: true
            }
        },
        submitHandler: function (form) {
            var value = $('#search').val();
            $.ajax({
                url: '/book/search-admin',
                dataType: 'json',
                method: 'POST',
                data: {
                    'page_num': 1,
                    'value': value,
                },
                headers: {
                    "Authorization": "Bearer " + getCookie('token'),
                },
                success: function (aData) {
                    loadDataSearch(aData, value);
                },
                error: function () {
                    alert('error');
                },
                beforeSend: function () {
                    $('#loading').css('display', 'block');
                },
                complete: function () {
                    $('#loading').css('display', 'none');
                }
            });
        }
    });

    function loadDataSearch(aData, value) {
        var sHtml = ``;
        for (i in aData.items) {
            var sWriter = '';
            if (aData.items[i].writer.length > 1) {
                for (j in aData.items[i].writer) {
                    if (j == aData.items[i].writer.length - 1)
                        sWriter += aData.items[i].writer[j].name;
                    else
                        sWriter += aData.items[i].writer[j].name + ', ';
                }
            } else {
                sWriter = aData.items[i].writer[0].name;
            }
            sHtml += `
        <tr>
            <td>`+ aData.items[i].id + `</td>
            <td>`+ aData.items[i].category + `</td>
            <td>`+ aData.items[i].title + `</td>
            <td>`+ sWriter + `</td>
            <td>`+ aData.items[i].slug + `</td>
            <td><img src="../static/images/books/`+ aData.items[i].image + `" alt="" style="width: 100px; height: 150px;"></td>
            <td>`+ aData.items[i].info + `</td>
            <td>`+ aData.items[i].price + `</td>
            <td>`+ aData.items[i].publisher + `</td>
            <td>`+ aData.items[i].publish_date + `</td>
            <td>`+ aData.items[i].pages + `</td>
            <td>`+ aData.items[i].number + `</td>
            <td>`+ aData.items[i].created + `</td>
            <td>`+ aData.items[i].modified + `</td>
            <td>
                <div class="row" style="margin: auto">
                    <i class="fa fa-trash btn btn-danger btn-delete" style="margin-bottom: 1%" aria-hidden="true" onclick="deleteWriter('`+ aData.items[i].id + `')"></i>
                </div>
            </td>
        </tr>
        `;
        }
        $('#data').html(sHtml);
        paginationSearch(aData.current_page, aData.pages, aData.next_num, aData.prev_num, value);
    }

    function changeSearch(page, value) {
        $.ajax({
            url: '/book/search-admin',
            dataType: 'json',
            method: 'POST',
            data: {
                'page_num': page,
                'value': value,
            },
            headers: {
                "Authorization": "Bearer " + getCookie('token'),
            },
            success: function (aData) {
                loadDataSearch(aData, value);
            },
            error: function () {
                alert('error');
            },
            beforeSend: function () {
                $('#loading').css('display', 'block');
            },
            complete: function () {
                $('#loading').css('display', 'none');
            }
        });
    }

    function paginationSearch(current_page, pages, next_num, prev_num, value) {
        if (prev_num == null) {
            var sHtml = `
<ul class="pagination">
<li class="page-item disabled">
<a class="page-link" tabindex="-1">Previous</a>
</li>
`;
        } else {
            var sHtml = `
<ul class="pagination">
<li class="page-item">
<a class="page-link" tabindex="-1" onclick="changeSearch(`+ prev_num + `, '` + value + `')">Previous</a>
</li>
`;
        }

        if (pages <= 6) {
            for (i = 1; i <= pages; i++) {
                if (i == current_page)
                    sHtml += `
<li class="page-item active">
<a class="page-link">`+ i + ` <span class="sr-only">(current)</span></a>
</li>
`;
                else
                    sHtml += `
<li class="page-item no"><a class="page-link" onclick="changeSearch(`+ i + `, '` + value + `')">` + i + `</a></li>
`;
            }
        }
        else {
            var pageCutLow = current_page - 1;
            var pageCutHigh = current_page + 1;
            if (current_page > 2) {
                sHtml += `<li class="page-item"><a class="page-link" onclick="changeSearch(1, '` + value + `')">1</a></li>`;
                if (current_page > 3)
                    sHtml += `<li class="page-item"><a class="page-link">...</a></li>`;
            }
            // Determine how many pages to show after the current page index
            if (current_page === 1) {
                pageCutHigh += 2;
            } else if (current_page === 2) {
                pageCutHigh += 1;
            }
            // Determine how many pages to show before the current page index
            if (current_page === pages) {
                pageCutLow -= 2;
            } else if (current_page === pages - 1) {
                pageCutLow -= 1;
            }
            // Output the indexes for pages that fall inside the range of pageCutLow and pageCutHigh
            for (var p = pageCutLow; p <= pageCutHigh; p++) {
                if (p === 0) {
                    p += 1;
                }
                if (p > pages) {
                    continue
                }
                var active = (current_page == p) ? "active" : "no"
                sHtml += `<li class="page-item ` + active + `"><a class="page-link" onclick="changeSearch(` + p + `, '` + value + `')">` + p + `</a></li>`;
            }

            if (current_page < pages - 1) {
                if (current_page < pages - 2) {
                    sHtml += `<li class="page-item"><a class="page-link">...</a></li>`;
                }
                sHtml += `<li class="page-item"><a class="page-link" onclick="changeSearch(` + pages + `, '` + value + `')">` + pages + `</a></li>`;
            }
        }

        if (next_num == null) {
            sHtml += `
<li class="page-item disabled">
<a class="page-link" onclick="changeSearch(`+ next_num + `, '` + value + `')">Next</a>
</li></ul>
`;
        } else {
            sHtml += `
<li class="page-item">
<a class="page-link" tabindex="-1" onclick="changeSearch(`+ next_num + `, '` + value + `')">Next</a>
</li></ul>
`;
        }
        $('#pagination').html(sHtml);
    }
</script>
{% endblock %}