{% extends "client/base.html" %}

{% block title %}
{{ user.firstname }} {{ user.lastname }}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/home/book-card.css')}}">
<style>
    .error {
        color: red;
        font-size: 15px;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
{% endblock %}

{% block content %}
<div class="row" id="products">

</div>
<div class="row">
    <nav id="pagination" style="padding: 20px; cursor: pointer;">
    </nav>
</div>
<div id="list-book">
    <form id="form-update">
        <div class="row" style="margin-top: 5px; margin-bottom: 5px;">
            <div class="col-md-6">
                <label><b>Last Name:</b></label>
                <input type="text" class="form-control" placeholder="Lastname" name="lastname" id="lastname">
            </div>
            <div class="col-md-6">
                <label><b>First Name:</b></label>
                <input type="text" class="form-control" placeholder="Firstname" name="firstname" id="firstname">
            </div>
        </div>
        <div class="row" style="margin-top: 5px; margin-bottom: 5px;">
            <div class="col-md-6">
                <label><b>UserName:</b></label>
                <input type="text" class="form-control" id="username" disabled>
            </div>
            <div class="col-md-6">
                <label><b>Money:</b></label>
                <input class="form-control" type="number" name="money" id="money" step="0.01" />
            </div>
        </div>
        <div class="row" style="margin-top: 5px; margin-bottom: 5px;">
            <div class="col-md-12">
                <label><b>Email:</b></label>
                <input type="email" class="form-control" placeholder="Email" id="email" name="email">
            </div>
        </div>
        <div class="row" style="margin-top: 5px; margin-bottom: 5px;">
            <div class="col-md-12">
                <label><b>Address:</b></label>
                <input type="text" class="form-control" placeholder="Address" id="address" name="address">
            </div>
        </div>
        <div class="row" style="margin-top: 5px; margin-bottom: 5px;">
            <div class="col-md-12">
                <label><b>Phone number:</b></label>
                <input class="form-control" name="phone" id="phone" placeholder="Phone number" type="number"
                    pattern="/^-?\d+\.?\d*$/" onKeyPress="if (this.value.length == 10) return false;" onkeydown="javascript: return event.keyCode === 8 ||
                                                    event.keyCode === 46 ? true : !isNaN(Number(event.key))" />
            </div>
        </div>
        <div class="row" style="margin-top: 5px; margin-bottom: 5px;">
            <div class="col-md-12">
                <input class="btn btn-primary" type="submit" value="UPDATE" style="cursor: pointer; float: right;">
            </div>
        </div>

    </form>
</div>
{% endblock %}
{% block script %}
<script src="{{url_for('.static', filename='js/my-info.js')}}"></script>
<script>
    $("#money").blur(function () {
        this.value = parseFloat(this.value).toFixed(2);
    });
</script>
{% endblock %}