<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <title>Forgot password</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/home/form-login.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
</head>

<body>
    <div style="margin: auto; width: 350px;" id="content">
        <form class="form" id="reset" method="POST">
            <h2 class="form_title title">Reset password</h2>
            <input type="hidden" value="{{ token }}" name="token">
            <input class="form__input" type="password" placeholder="Password" id="password" name="password">
            <input class="form__input" type="password" placeholder="Confirm Password" id="confirm" name="confirm">
            <button class="form__button button submit" style="cursor: pointer;" type="submit">Change Password</button>
        </form>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{url_for('.static', filename='jquery/jquery.validate.min.js')}}"></script>
    <script src="{{url_for('.static', filename='js/reset_password/reset-password.js')}}"></script>
</body>

</html>